@font-face {
  font-family: "bitdust1";
  src: url("./bitdust1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 170px;
  height: 90px;
  display: flex;
  flex-direction: column;
  font-family: "bitdust1", monospace;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}
